[project]
name = "andrea-roveda"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.121.3",
    "pydantic-settings>=2.12.0",
    "sqlalchemy>=2.0.44",
]
